/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* ======== General ======== */
* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	font-weight: 700 !important;
}

a:hover {
	text-decoration: none !important;
}

.button {
	border-radius: 5px;
	padding: 16px;
	font-size: 1.2rem;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	font-weight: 600;
}

.button-primary,
.button-dark {
	color: white !important;
}

.button-primary {
	background-color: #438ff6;
}

.button-primary:hover {
	background-color: #3072ce;
}

.button-dark {
	background-color: #2b3d85;
}

.button-dark:hover {
	background-color: #001153;
}

/* ======== Navbar ======== */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	min-height: 11vh;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	background-color: transparent;
}

.navbar--scrolled {
	background-color: #fff;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.navbar__link-container {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar__link {
	margin: 0 10px;
}

.navbar--scrolled .navbar__link a {
	color: #000;
}

.navbar__link a,
.navbar__cta {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1rem;
	font-weight: 600;
	cursor: pointer;
}

.navbar__link:hover a,
.navbar__link a:hover {
	border-bottom: 2.5px solid #438ff6;
	color: #438ff6;
}

/* ======== Jumbotron ======== */

.jumbotron {
	background-image: url(img/bg.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 70vh;
	display: flex;
	align-items: center;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}

.jumbotron__title {
	color: #438ff6;
	margin-top: 0;
}

.jumbotron__text {
	color: #edf1f6;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.jumbotron__cta {
	margin: 10px 0;
	display: inline-block;
}

/* ======== About Me ======== */

.about-me {
	background-image: url('img/portfolio.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
}

.about-me .row {
	justify-content: center;
}

.about-me__image-container {
	padding: 2.5rem;
}

.about-me__image {
	width: 100%;
}

.about-me__content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-me__content {
	width: 100%;
}

.about-me__title {
	font-size: 2.2rem;
	line-height: 2.5rem;
}

.about-me__text {
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.about-me__cta {
	display: inline-block;
}

/* ======== Skills ======== */

.skills {
	width: 100%;
	background-color: white;
	padding: 4rem;
}

.skills__title {
	display: block;
	text-align: center;
	margin: 0 0 2.5rem;
}

.skills__bar {
	display: block;
}

.skills__bar__title {
	font-size: 1.35rem;
	line-height: 1.85rem;
	margin: 1.5rem 0 0.5rem;
}

.skills__bar__base {
	width: 100%;
	background-color: #ebeeef;
}

.skills__bar__progress {
	width: 10%;
	height: 30px;
	background-color: #3b86ff;
	text-align: center;
	line-height: 30px;
	color: white;
}

/* ======== Experience ======== */

.experience {
	width: 100%;
	background-image: url('img/exp_image.jpg');
	background-position: center;
	background-size: cover;
	padding: 4rem 0;
}

.experience .row {
	justify-content: space-evenly;
	align-items: center;
}

.experience__item {
	display: block;
	text-align: center;
}

.experience__item__image {
	height: 45px;
}

.experience__item__title {
	color: #f5f8fc;
	margin: 0px;
}

.experience__item__text {
	color: #f5f8fc;
	font-size: 1.1rem;
	margin: 0px;
}

/* ======== Portfolio ======== */

.portfolio {
	width: 100%;
	padding: 3rem 0;
	background-color: #f6f4f4;
}

.portfolio .row {
	justify-content: space-evenly;
}

.portfolio__title {
	text-align: center;
	font-size: 2.2rem;
	line-height: 2.5rem;
	margin-bottom: 2.5rem;
}

.portfolio__item {
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.portfolio__item:hover {
	transform: translateY(-10px);
}

.portfolio__image {
	display: block;
	margin: 10px auto;
	max-width: 100%;
	max-height: 300px;
}

.portfolio__item__header {
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: 600;
	color: #707070;
}

/* ======== Contact ======== */

.contact {
	text-align: center;
	width: 100%;
	padding: 3rem 0;
}

.contact__title {
	margin-bottom: 1.5rem;
}

.contact__cta {
	display: inline-block;
}

/* ======== Footer ======== */

.footer {
	padding: 2rem;
	color: white;
	background-color: #100f0f;
}

.footer .row {
	justify-content: space-evenly;
}

.footer__block {
	padding: 0 3rem;
}

.footer__link {
	display: block;
	margin-bottom: 1rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 1.3rem;
	transition: all 0.3s ease-in-out;
}

.footer__link:hover {
	text-decoration: none;
}

.footer__cta {
	display: inline-block;
}

.footer__socialLink {
	color: #fff;
	font-size: 2rem;
	transition: all 0.3s ease-in-out;
}
